/* LAPTOP */
@media screen and (min-width: 1024px) {

    h1 {
        font-size: $spacing+10;
    }

    /* COMIENZO HEADER - Laptop */
    .navbar-brand {
        font-size: 35px;
    }

    .form-control-nav {
        padding-left: 10px;
    }

    /* FIN HEADER - Laptop */


    /* COMIENZO MAIN - Laptop */
    #banner h2 {
        font-size: 90px;
    }

    /* "Para casa" "Textil" - Laptop */
    table caption {
        font-size: 40px;
    }

    /* Quienes somos - Laptop */
    .quienes-somos {
        font-size: 35px;
        margin: 5px;
        border-radius: 5px;
    }

    /* Contacto - Laptop */
    .formulario-contacto {
        width: 60%;
        margin: auto;
    }

    .preguntas-frecuentes {
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }

    /* FIN MAIN - Laptop */


    /* COMIENZO FOOTER - Laptop */
    footer h3 {
        font-size: 20px;
    }

    /* Newsletter - Laptop */
    .nombre-newsletter {
        width: 100%;
        border-radius: 5px;
        border-color: $color-primary;
        font-size: 15px;
    }

    .correo-newsletter {
        width: 100%;
        border-radius: 5px;
        border-color: $color-primary;
        font-size: 15px;
    }

    .enviar {
        width: 50%;
        font-size: 12px;
        margin-top: 3px;
    }

    .contenedor-input {
        padding: 0 50px;
        width: 100%;
    }

    /* Direccion - Laptop */
    .direccion {
        display: none;
    }

    .direccion-laptop {
        display: grid;
        place-content: center;
        font-size: 13px;

        p {
            margin: 0;
        }
    }

    .items {
        margin-left: 0;

        ul {
            padding: 0;
        }
    }

    /* Redes sociales - Laptop */
    .redes-sociales {
        margin: 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        place-content: center;
    }
}