@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #b49b7f;
}

hr {
    margin: 0.5rem 0;
}

.header-laptop {
    display: none;
}

/* COMIENZO HEADER - Mobile*/

.titulo-web {
    color: #212529;
}

.navbar-brand {
    font-size: 20px;
}

.navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #212529;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}

.navbar {
    background-color: #8f6d45;
}

.form-control {
    border-radius: 20px;
}

.btn-outline-success {
    color: #212529;
    border-color: #b49b7f;
    border-radius: 20px;
}

/* FIN HEADER  - Mobile*/


/* COMIENZO MAIN - Mobile */

/* main {
    margin-top: 50px;
} */

#banner {
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor-uno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#banner h2 {
    font-size: 30px;
    text-align: center;
}

#blog .contenedor-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#blog article {
    margin: 30px;
}

#blog img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.telas-dobladas {
    opacity: 1;
    animation-name: fade-in-left;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 3s;
}

.boton-madera {
    opacity: 1;
    animation-name: fade-in-right;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 3s;
}

@keyframes fade-in-right {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

#menu-carrito {
    text-align: center;
}

#menu-carrito .contenedor-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos {
    margin: 0px 20px;
}

.productos img {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.nombres-productos {
    margin: 0;
}

/* Boton añadir al carrito */
.anadir-carrito {
    font-weight: bold;
    padding: 5px;
    width: 140px;
    display: flex;
    border-radius: 5px;
    border-color: #8f6d45;
    margin-left: 20px;
    color: #8f6d45;
    justify-content: center;
}

/* Seccion "Para casa" "Textil" */

table {
    width: 100%;
}

table caption {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

table tr {
    display: flex;
    flex-direction: column;
    border: solid 2px hsl(0, 0%, 0%);
    padding: 5px;
    margin-bottom: 5px;
}

table thead {
    display: none;
}

table td[data-titulo] {
    display: flex;
}

table td[data-titulo]::before {
    content: attr(data-titulo);
    width: 120px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

/* Seccion "Quienes somos" */
.quienes-somos {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    text-align: center;
    color: white;
    background-image: url("../bruma-deco-responsive/Imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Seccion "Contacto"  */
/* #seccion-contacto {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.contacto {
    width: max-content;
    margin: 0;
    background-color: #8f6d45;
    padding: 5px;
    border-radius: 5px;
}

.contacto p {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea {
    outline: none;
    width: 250px;
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    border-color: #b49b7f;
}

.uno {
    border: solid 1px;
    padding: 5px;
    margin: 0px;
    width: 300px;
}

.uno:focus {
    border-color: #b49b7f;
}

.boton-uno {
    text-align: center;
    padding: 5px;
    margin: 0px;
    width: 300px;
}

.mail-telefono {
    margin: 50px;
    text-align: center;
} */

.formulario-contacto {
    width: 80%;
    margin: auto;
    background-color: #8f6d45;
    border-radius: 5px;
    padding: 10px;
}

.form-label {
    margin-bottom: 0;
}

.form-control {
    border: 3px solid #b49b7f;
    margin: 0px 10px;
}

.form-control:hover {
    transform: scale(1.1);
    transition-duration: .3s;
    transition-timing-function: ease;
}

.preguntas-frecuentes {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.accordion-item:first-of-type .accordion-button {
    background-color: #8f6d45;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: #8f6d45;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #8f6d45;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(-180deg);
}

.col-md-8 {
    align-self: center;
    text-align: center;
}

.col-md-8 p {
    margin-bottom: 0;
}


/* FIN MAIN - Mobile*/


/* COMIENZO FOOTER - Mobile */
/* footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 30px;
    padding: 0;
    justify-items: center;
} */

/* Newsletter */
.newsletter {
    width: max-content;
    max-width: 500px;
    margin: auto;
    background-color: #8f6d45;
    border-radius: 5px;
    padding: 3px;
}

.newsletter>h3 {
    text-align: center;
    font-size: 15px;
}

.nombre-newsletter {
    font-family: 'Roboto Slab', serif;
    width: auto;
    font-size: 10px;
}

.correo-newsletter {
    font-family: 'Roboto Slab', serif;
    width: auto;
    font-size: 10px;
}

.enviar {
    font-family: 'Roboto Slab', serif;
    margin: auto;
    width: 60%;
    border-radius: 5px;
    border-color: #b49b7f;
    text-align: center;
    font-size: 10px;
}

.contenedor-input {
    padding: 0 30px;
    width: 100%;
}

/* Direccion */
.direccion-laptop {
    display: none;
}

.direccion {
    display: grid;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    margin: 20px 30px;
}

.direccion p {
    margin-bottom: 0;
}

/* Redes sociales */
.redes-sociales {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 20px 30px;
    justify-items: center;
}

/* Items */
.items {
    display: grid;
    text-align: center;
    place-content: center;
    font-family: 'Roboto Slab', serif;
    justify-content: center;
}

.items>ul {
    list-style-type: none;
    padding: 0;
}

.items>ul>li>a {
    color: #212529;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

/* FIN FOOTER - Mobile */


/* TABLET */

@media screen and (min-width: 768px) {

    /* COMIENZO HEADER - Tablet */

    /* Titulo -Tablet */
    h1 {
        float: left;
        font-size: 35px;
        margin-top: 0px;
    }

    /* FIN HEADER - Tablet*/


    /* COMIENZO MAIN - Tablet*/

    /* Slogan - Tablet */
    #banner h2 {
        font-size: 60px;
    }

    .contenedor-tabla {
        margin-left: 40px;
    }

    /* Quienes somos - Tablet*/
    .quienes-somos {
        font-size: 30px;
    }

    .col-md-8 {
        align-self: center;
        text-align: left;
    }

    /* Contacto - Tablet*/
    /* #seccion-contacto {
        flex-direction: row;
        margin-bottom: 5px;
    } */

    .hr-contacto {
        margin-top: 20px;
    }

    /* FIN MAIN - Tablet */


    /* COMIENZO FOOTER - Tablet */

    /* Newsletter - Tablet */
    .contenedor-input {
        padding: 0 100px;
        width: 100%;
    }

    .enviar {
        width: 40%;
    }

    /* Direccion - Tablet */
    .direccion-laptop {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    /* COMIENZO HEADER - Laptop */
    .navbar-brand {
        font-size: 35px;
    }

    /* FIN HEADER - Laptop */


    /* COMIENZO MAIN - Laptop */

    /* main {
        margin-top: 260px;
    } */

    #banner h2 {
        font-size: 100px;
    }

    /* "Para casa" "Textil" - Laptop */
    table caption {
        font-size: 40px;
    }

    /* Quienes somos - Laptop */
    .quienes-somos {
        font-size: 35px;
        margin: 5px;
        border-radius: 5px;
    }

    /* Contacto - Laptop */
    /* #seccion-contacto {
        justify-content: center;
        margin-bottom: 5px;
    } */

    .formulario-contacto {
        width: 60%;
        margin: auto;
    }

    .preguntas-frecuentes {
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }

    /* FIN MAIN - Laptop */


    /* COMIENZO FOOTER - Laptop */
    footer {
        display: grid;
        grid-template-columns: 30% 40% 15% 15%;
        margin: 3px;
        padding: 0;
    }

    footer h3 {
        font-size: 20px;
    }

    /* Newsletter - Laptop */
    .nombre-newsletter {
        font-family: 'Roboto Slab', serif;
        width: 100%;
        border-radius: 5px;
        border-color: #b49b7f;
        font-size: 15px;
    }

    .correo-newsletter {
        font-family: 'Roboto Slab', serif;
        width: 100%;
        border-radius: 5px;
        border-color: #b49b7f;
        font-size: 15px;
    }

    .enviar {
        width: 50%;
        font-size: 12px;
        margin-top: 3px;
    }

    .contenedor-input {
        padding: 0 50px;
        width: 100%;
    }

    /* Direccion - Laptop */
    .direccion {
        display: none;
    }

    .direccion-laptop {
        display: grid;
        place-content: center;
        font-size: 13px;
        font-family: 'Roboto Slab', serif
    }

    .direccion-laptop p {
        margin: 0;
    }

    .items {
        margin-left: 0;
    }

    .items ul {
        padding: 0;
    }

    /* Redes sociales - Laptop */
    .redes-sociales {
        margin: 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        place-content: center;
    }

}